# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# Artifacts / Cache
/[Aa]rtifacts/
/[Ss]treamingAssets/aa.meta
/[Ss]treamingAssets/aa/*

# OS
.DS_Store
Thumbs.db

# IDE
.vs/
.idea/
*.code-workspace

# Autogenerados por Unity/IDE
*.csproj
*.sln
*.userprefs
